{% extends "baselistamr.html" %}
{% block listasmr %}

<!-- Book -->
<section class="book" id="book">
    <div id=fulldiv>
       <h2>Listas de MaduREADER</h2>
        <div id=fulldiv2>
            <div><img src="../../static/images/populares.png" />
            {% set tema="OL135747L" %}
            <form action="/temas" method="post"><input type="hidden" name="temas" value="{{ tema }}"><input class="flamenco" type="submit" value="Cuentos"></form>
            </div>
            <br>
            <br>
            <div><img src="../../static/images/terror.png" />
            {% set tema="OL135749L" %}
            <form action="/temas" method="post"><input type="hidden" name="temas" value="{{ tema }}"><input class="flamenco" type="submit" value="Terror"></form>
            </div>
        </div>
        <div id=fulldiv3>
            <div><img src="../../static/images/novelas.png" />
            {% set tema="OL135750L" %}
            <form action="/temas" method="post"><input type="hidden" name="temas" value="{{ tema }}"><input class="flamenco" type="submit" value="Novelas"></form>
            </div>
            <br>
            <br>
            <div><img src="../../static/images/poesia.png" />
            {% set tema="OL136133L" %}
            <form action="/temas" method="post"><input type="hidden" name="temas" value="{{ tema }}"><input class="flamenco" type="submit" value="Poesia"></form>
            </div>
        </div>
    </div>
</section> <!-- #book -->

<section class="contact section-wrapper" id="contact">
    <div class="container">
        <div class="row">
        </div> <!-- /.row -->
    </div> <!-- /.container -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% endblock %}
